/data/suricata/*.log /data/suricata/*.json
{
    rotate {{getv "/suricata/retention" "3"}}
    missingok
    nocompress
    create 0644 suricata suricata
    sharedscripts
    postrotate
            systemctl kill -s HUP --kill-who=main suricata.service
    endscript
}
